
.content-edit{
	width: 640px;
	height: 350px; /* 首页容器的宽度 */
	margin: 0px auto;
	margin-top:200px;
	padding: 40px;
	background: rgba(255, 255, 255,0.5);
	color:black;
	border-radius: 5px;
}
.big-p{
	font-size:30px;
	color: #000;
}
.small-p{
	font-size:20px;
	color:rgba(0,0,0,0.5);
}
#adv-setting {
    opacity: 0.6;
    border: 0px;
}
.dialog-trigger{
	cursor: pointer;
}
.ctn-text{
	margin-bottom: 50px;
}
.ctn-btns{
	width: 390px;
	height: 60px;
	margin: 0px auto;
}
.btn{
	width: 140px;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	text-align: center;
	border: 1px solid #000;
	border-radius: 5px;
	cursor: pointer;
}
.btn-disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.3;
}
/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: rgba(49, 176, 62, 0.7);
  color: white;
}
/* End Fade */
.btn-sel{
	float: left;
}
.btn-cot{
	float: right;
}

/* 划定范围页 */
.cont{
	position: relative;
	width:900px;  /* chart0的图表宽度要和这里一起修改 */
	margin:0px auto;
	margin-top:20px;
	padding: 20px;
    background: rgba(255, 255, 255,0.5);
}
.ctn{
	width: 900px;  /* chart0的图表大小 */
	height: 600px;
	border:2px solid #000;
}
.btn-cot1{
	position: absolute;
	right:-200px;
	bottom: 0px;
}


/* 四个图表展示页 */
.left-ctn{
	float: left;
	width:77%;
	margin:0px;
}
.left-ctn li{
	float: left;
	width:43%;
	height: 380px;
	border:1px solid #000;
	margin:40px 0px 0px 60px;
}

.right-ctn{
	background: url("../img/bg2.jpg") no-repeat;
	background-size: cover;
	float: right;
	width:19%;
	height: 820px;  /* height+padding-top = .content的height */
	padding-top:100px;
	margin:0px;
	/* border:1px solid #000; */
}
.form-group{
	width:70%;
	margin:20px auto;
	clear: both;
}
.sel{
	width:100%;
	height: 30px;
	outline: none;
	padding-left: 10px;
	border-radius:5px;
}
.right-btn{
	width:100px;
	margin:0 auto;
	height: 50px;
}
.bt{
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: #fff;
	border: 1px solid #ddd;
	cursor: pointer;
}
.left{
	float: left;
}
.right{
	float: right;
}
.form-group .btns{
	width: 100px;
	height: 40px;
	border:1px solid #000;
	border-radius: 5px;
	margin:20px auto;
	cursor: pointer;
	text-align:center;
	line-height:40px;  /* 应与height相同使字居中 */
}